* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

nav img {
    max-width: 40px;
    margin-right: 20px;
}

.carousel {
    max-height: 95vh;
}

.carousel img {
    max-height: 95vh;
}

.cars-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
    max-width: 60vw;
}

#list-group-scrollspy {
    max-width: 12vw;
    margin-left: 3vw;
}

#cars-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-top: 5vh;
    max-width: 60vw;
}

#cars-list .card {
    margin-left: 2vw;
}

table {
    margin-left: 20vw;
    max-width: 60vw;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

h2 {
    display: flex;
    justify-content: center;
}

#list-item-1, #list-item-2, #list-item-3, #list-item-4, #list-item-5 {
    margin-top: 5vh;
    margin-bottom: -4vh;
    margin-left: 2vw;
}

.nav-link {
    color: white;
}

.card .accordion-body {
    height: 20vh;
    overflow: scroll;
}

.service-table {
    display: flex;
    align-items: center;
}

.tbr {
    margin-right: 21vw;
    max-width: 20vw;
}

.lbr {
    margin-bottom: 2vh;
    width: 40vw;
}

.bootstrap-list {
    display: flex;
    flex-direction: column;
    max-width: 13.5vw;
    margin-top: 5vh;
    margin-left: 43.25vw;
}

.card-img-top {
    min-height: 215px;
    object-fit: cover;
}

.modal {
    margin-top: 20vh;
}

#faqaccordion {
    max-width: 60vw;
    margin-left: 20vw;
    margin-top: 10vh;
}

.collapseitems a {
    margin-top: 10vh;
    margin: 1vw;
}

.faq-contact {
    max-width: 30vw;
    margin-left: 20vw;
}

.collapseitems {
    margin-left: 20vw;
}

#collapsecard {
    max-width: 10vw;
}

.collapse {
    margin: 0;
}

footer {
    height: 40vh;
}

#info-icon {
    width: 20px;
    margin-right: 20px;
}